<%- include('partials/header.ejs') -%>
<body>
    <div>
        <h2><%= faculty.faculty_name %></h2>
        <div>
            <ul>
                <li>Email : <%= faculty.faculty_email %></li>
                <li>Department : <%= department %></li>
            </ul>
        </div>
    </div>
    <div>
        <p>To see the courses <a href="/admin/courses">click here</a></p>
    </div>
    <div>
        <a href="/admin/addfaculty"><button>Add faculty</button></a>
    </div>
    <div>
        <a href="/admin/addCourse"><button>Add course</button></a>
    </div>
    <div>
        <a href="/logout"><button>Log Out</button></a>
    </div>
</body>