<%- include('partials/header.ejs') -%>
<body>
    <div>
        <h3>Assignments</h3>
    </div>
    <div>
        <h3>Internal Exams</h3>
    </div>
    <div>
        <h3>End Semester Exam</h3>
    </div>
</body>