<%- include('partials/header.ejs') -%>
<body>
    <h1>Faculty Login</h1>
    <div>
        <!-- Change begins here -->
            <div>
                <p><%= message %></p>
            </div>
        <!-- Change ends here-->
        <lable for = "error"></lable>
        <form action="/login" method="POST">
            <div>
                <label for="email">User Name</label>
                <input type="email" name="email" id="email" required >
            </div>
            <div>
                <label for="password">password</label>
                <input type="password" name="password" id="password" required >
            </div>
            <div>
                <button type="submit" >Login</button>
            </div>
        </form>
    </div>
</body>